{:paths ["src"]
 :deps {clojure-msgpack/clojure-msgpack {:mvn/version "1.2.1"}
        com.github.liquidz/merr {:mvn/version "0.4.193"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        exoscale/interceptor {:mvn/version "0.1.16"}
        metosin/malli {:mvn/version "0.13.0"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}}

 :tasks
 {start-server {:task (shell "bb -m elin.core localhost 12233 true")}
  repl {:override-builtin true
        :extra-paths ["dev" "test"]
        :requires ([elin.dev]
                   [elin.test-helper])
        ;; :task (elin.t.nrepl/-main)
        :task (exec 'elin.task.nrepl/-main)}
  test {:extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol]
                                    :vars [:symbol]}}}}}
