*{{{name}}}*
{{#arglists}}
  {{{.}}}
{{/arglists}}
{{#document}}
  {{{document}}}
{{/document}}
{{^document}}
  No document
{{/document}}
{{#return}}

----------------------------------------------------------------------------
*Return*
{{{.}}}
{{/return}}
{{#javadoc}}

  {{{.}}}
{{/javadoc}}
