*{{{name}}}*
{{#arglists}}
  {{{.}}}
{{/arglists}}
{{#document}}
  {{{document}}}
{{/document}}
{{^document}}
  No document
{{/document}}
{{#has-see-alsos}}

----------------------------------------------------------------------------
*see-also*
{{/has-see-alsos}}
{{#see-alsos}}
 - {{{content}}}
{{/see-alsos}}
