{:log {;; cf. https://taoensso.github.io/timbre/taoensso.timbre.html#var-default-config
       :min-level :info}

 :server {:entrypoints {"nvim" elin.component.server.nvim/start-server
                        "vim" elin.component.server.vim/start-server}}

 :http-server {:port #empty-port []}

 :common {:template {;; NOTE {extension {:src "skeleton for source" :test "skeleton for test"}}
                     :.clj {:src #resource "template/clj_src_skeleton.mustache"
                            :test #resource "template/clj_test_skeleton.mustache"
                            :test-var #resource "template/var_test_skeleton.mustache"}
                     :.cljs {:src #resource "template/clj_src_skeleton.mustache"
                             :test #resource "template/cljs_test_skeleton.mustache"
                             :test-var #resource "template/var_test_skeleton.mustache"}
                     :.cljc {:src #resource "template/clj_src_skeleton.mustache"
                             :test #resource "template/cljc_test_skeleton.mustache"
                             :test-var #resource "template/var_test_skeleton.mustache"}}}

 :interceptor {:uses [elin.interceptor.autocmd/deinitialize {}
                      elin.interceptor.autocmd/switch-connection {}
                      elin.interceptor.autocmd/ns-load {}
                      elin.interceptor.autocmd/skeleton #ref [:common :template]
                      elin.interceptor.autocmd/clj-kondo-analyzing {}
                      elin.interceptor.connect/connected {}
                      elin.interceptor.connect/raw-message-channel {}
                      elin.interceptor.connect/detect-clojure-port {:default-hostname "localhost"}
                      elin.interceptor.connect.shadow-cljs/detect-shadow-cljs-port {:default-hostname "localhost"}
                      elin.interceptor.connect/cleanup-jacked-in-process {}
                      elin.interceptor.debug/initialize-debugger {}
                      elin.interceptor.debug/process-debugger {}
                      elin.interceptor.handler/handling-error {}
                      elin.interceptor.nrepl/nrepl-output {}
                      elin.interceptor.nrepl/eval-ns {}
                      elin.interceptor.nrepl/normalize-path {}
                      elin.interceptor.nrepl/progress {}
                      elin.interceptor.output/print-output {}
                      elin.interceptor.tap/initialize {:max-store-size 10}
                      elin.interceptor.tap/access-tapped-values {:var-name "*tapped*"}]

               :config-map {elin.interceptor.evaluate/set-eval-result-to-virtual-text {:format "=> {{{result}}}"
                                                                                       :highlight "DiffText"
                                                                                       :align "after"
                                                                                       :close-after 3000}}

               :preset {:evaluation {:includes [elin.interceptor.evaluate/output-eval-result-to-cmdline
                                                elin.interceptor.evaluate/set-eval-result-to-virtual-text
                                                elin.interceptor.evaluate/unwrap-comment-form
                                                elin.interceptor.evaluate/yank-eval-result]}

                        :test {:includes [elin.interceptor.test/parse-test-result
                                          elin.interceptor.test/update-test-result-sign
                                          elin.interceptor.test/append-test-result-to-info-buffer
                                          elin.interceptor.test/apply-test-result-to-quickfix
                                          elin.interceptor.test/store-last-failed-test-query
                                          elin.interceptor.test/output-test-result-to-cmdline]}}}

 :handler {:uses [elin.handler.callback/callback {}
                  elin.handler.complete/complete {:log {:min-level :error}}
                  elin.handler.connect/connect {}
                  elin.handler.connect/disconnect {}
                  elin.handler.connect/instant {}
                  elin.handler.connect/jack-in {}
                  elin.handler.connect/switch {}
                  elin.handler.debug/nrepl-request {}
                  elin.handler.debug/enable-debug-log {}
                  elin.handler.debug/disable-debug-log {}
                  elin.handler.evaluate/evaluate {:interceptor {:includes [elin.interceptor.evaluate/output-eval-result-to-cmdline]}}
                  elin.handler.evaluate/evaluate-at-mark {:interceptor #ref [:interceptor :preset :evaluation]}
                  elin.handler.evaluate/evaluate-current-buffer {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.evaluate/evaluate-current-expr {:interceptor #ref [:interceptor :preset :evaluation]}
                  elin.handler.evaluate/evaluate-current-list {:interceptor #ref [:interceptor :preset :evaluation]}
                  elin.handler.evaluate/evaluate-current-top-list {:interceptor #ref [:interceptor :preset :evaluation]}
                  elin.handler.evaluate/evaluate-namespace-form {:interceptor {:includes [elin.interceptor.evaluate/output-eval-result-to-cmdline]}}
                  elin.handler.evaluate/expand-1-current-list {:interceptor {:uses [elin.interceptor.handler/append-result-to-info-buffer {:show-temporarily? true}]}}
                  elin.handler.evaluate/interrupt {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.evaluate/print-last-result {:interceptor {:includes [elin.interceptor.handler/append-result-to-info-buffer]}}
                  elin.handler.evaluate/reload {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.evaluate/reload-all {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.evaluate/undef {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.evaluate/undef-all {:interceptor {:includes [elin.interceptor.nrepl/output-result-to-cmdline]}}
                  elin.handler.internal/error {}
                  elin.handler.internal/healthcheck {:log {:min-level :error}}
                  elin.handler.internal/initialize {}
                  elin.handler.internal/intercept {}
                  elin.handler.internal/status {:log {:min-level :error}
                                                :label {:disconnected ""
                                                        :connected "🍏"}}
                  elin.handler.lookup/lookup {:format {:clojure #resource "template/lookup_clojure.mustache"
                                                       :java #resource "template/lookup_java.mustache"}
                                              :interceptor {:uses [elin.interceptor.handler/show-result-as-popup {:filetype "help" :moved "current-line"}]}}
                  elin.handler.lookup/show-source {:interceptor {:includes [elin.interceptor.handler/show-result-as-popup]}}
                  elin.handler.lookup/show-clojuredocs {:export-edn-url "https://github.com/clojure-emacs/clojuredocs-export-edn/raw/master/exports/export.compact.edn"
                                                        :format #resource "template/clojuredocs.mustache"
                                                        :interceptor {:uses [elin.interceptor.handler/append-result-to-info-buffer {:show-temporarily? true}]}}
                  elin.handler.lookup/open-javadoc {}
                  elin.handler.namespace/add-libspec {:favorites #include "favorite_aliases.edn"
                                                      :java-classes #include "java_classes.edn"
                                                      :interceptor {:includes [elin.interceptor.handler.namespace/show-result
                                                                               elin.interceptor.handler.namespace/yank-alias]}}
                  elin.handler.namespace/add-missing-libspec {:favorites #include "favorite_aliases.edn"
                                                              :java-classes #include "java_classes.edn"
                                                              :interceptor {:includes [elin.interceptor.handler.namespace/show-result]}}
                  elin.handler.navigate/cycle-source-and-test {:interceptor {:includes [elin.interceptor.handler/jump-to-file]}}
                  elin.handler.navigate/cycle-function-and-test {:template #ref [:common :template]
                                                                 :interceptor {:includes [elin.interceptor.handler/jump-to-file]}}
                  elin.handler.navigate/jump-to-definition {:interceptor {:includes [elin.interceptor.handler/jump-to-file]}}
                  elin.handler.navigate/references {:interceptor {:includes [elin.interceptor.handler/jump-to-file]}}
                  elin.handler.navigate/local-references {:interceptor {:includes [elin.interceptor.handler/jump-to-file]}}
                  elin.handler.tap/tapped {:interceptor {:uses [elin.interceptor.handler/append-result-to-info-buffer {:show-temporarily? true
                                                                                                                       :header ";; Tapped value\n"}]}}
                  elin.handler.test/rerun-last-failed-tests {:interceptor #ref [:interceptor :preset :test]}
                  elin.handler.test/rerun-last-tests {:interceptor #ref [:interceptor :preset :test]}
                  elin.handler.test/run-test-under-cursor {:interceptor #ref [:interceptor :preset :test]}
                  elin.handler.test/run-tests-in-ns {:interceptor #ref [:interceptor :preset :test]}]

           :aliases {elin-alias-evaluate-current-list-in-context {:handler elin.handler.evaluate/evaluate-current-list
                                                                  :config {:interceptor {:includes [elin.interceptor.evaluate/eval-with-context]}}}
                     elin-alias-run-test-focused-current-testing {:handler elin.handler.test/run-test-under-cursor
                                                                  :config {:interceptor {:includes [elin.interceptor.test/focus-current-testing]}}}
                     elin-alias-overview-current-list {:handler elin.handler.evaluate/evaluate-current-list
                                                       :config {:interceptor {:includes [elin.interceptor.handler/overview]
                                                                              :excludes [elin.interceptor.evaluate/output-eval-result-to-cmdline
                                                                                         elin.interceptor.evaluate/set-eval-result-to-virtual-text
                                                                                         elin.interceptor.evaluate/yank-eval-result]}}}
                     elin-alias-overview-current-top-list {:handler elin.handler.evaluate/evaluate-current-top-list
                                                           :config {:interceptor {:includes [elin.interceptor.handler/overview]
                                                                                  :excludes [elin.interceptor.evaluate/output-eval-result-to-cmdline
                                                                                             elin.interceptor.evaluate/set-eval-result-to-virtual-text
                                                                                             elin.interceptor.evaluate/yank-eval-result]}}}}

           :initialize {:export {"g:elin_http_server_port" #ref [:http-server :port]}}}

 :clj-kondo {:command "clj-kondo"
             :config {:output {:analysis {:protocol-impls true
                                          :arglists true}}}}}
