;; cf. https://github.com/bbatsov/clojure-style-guide?tab=readme-ov-file#use-idiomatic-namespace-aliases
{;; Clojure
 cheshire.core json
 clj-http.client http
 clj-yaml.core yaml
 clojure.core.async async
 clojure.core.matrix mat
 clojure.data.csv csv
 clojure.data.xml xml
 clojure.datafy datafy
 clojure.edn edn
 clojure.java.io io
 clojure.java.shell sh
 clojure.pprint pp
 clojure.set set
 clojure.spec.alpha s
 clojure.spec.gen.alpha sgen
 clojure.spec.test.alpha stest
 clojure.string str
 clojure.tools.logging log
 clojure.walk walk
 clojure.zip zip
 hugsql.core sql
 java-time.api time
 next.jdbc jdbc
 ;; ClojureScript
 cljs.core.async async
 cljs.pprint pp
 cljs.reader reader
 cljs.spec.alpha s
 cljs.spec.gen.alpha sgen
 cljs.spec.test.alpha stest}
