#{"clojure.core/apply"
  "clojure.core/eval"
  "clojure.core/with-bindings*"
  "clojure.lang.AFn/applyTo"
  "clojure.lang.AFn/applyToHelper"
  "clojure.lang.AFn/run"
  "clojure.lang.Compiler/eval"
  "clojure.lang.RestFn/invoke"
  "clojure.lang.Var/applyTo"
  "clojure.main/repl"
  "java.lang.Thread/run"
  "nrepl.middleware.interruptible-eval/evaluate"
  "nrepl.middleware.interruptible-eval/evaluator"
  "nrepl.middleware.interruptible-eval/interruptible-eval"
  "nrepl.middleware.session/session-exec"
  "nrepl.SessionThread/run"}
