{:java.util #{AbstractCollection
              AbstractList
              AbstractMap
              AbstractQueue
              AbstractSequentialList
              AbstractSet
              ArrayDeque
              ArrayList
              Arrays
              Base64
              BitSet
              Calendar
              Collections
              ConcurrentModificationException
              Currency
              Date
              Dictionary
              DoubleSummaryStatistics
              DuplicateFormatFlagsException
              EmptyStackException
              EnumMap
              EnumSet
              EventListenerProxy
              EventObject
              FormatFlagsConversionMismatchException
              FormattableFlags
              Formatter
              FormatterClosedException
              GregorianCalendar
              HashMap
              HashSet
              Hashtable
              IdentityHashMap
              IllegalFormatCodePointException
              IllegalFormatConversionException
              IllegalFormatException
              IllegalFormatFlagsException
              IllegalFormatPrecisionException
              IllegalFormatWidthException
              IllformedLocaleException
              InputMismatchException
              IntSummaryStatistics
              InvalidPropertiesFormatException
              LinkedHashMap
              LinkedHashSet
              LinkedList
              ListResourceBundle
              Locale
              LongSummaryStatistics
              MissingFormatArgumentException
              MissingFormatWidthException
              MissingResourceException
              NoSuchElementException
              Objects
              Optional
              OptionalDouble
              OptionalInt
              OptionalLong
              PriorityQueue
              Properties
              PropertyPermission
              PropertyResourceBundle
              Random
              ResourceBundle
              Scanner
              ServiceConfigurationError
              ServiceLoader
              SimpleTimeZone
              Spliterators
              SplittableRandom
              Stack
              StringJoiner
              StringTokenizer
              TimeZone
              Timer
              TimerTask
              TooManyListenersException
              TreeMap
              TreeSet
              UUID
              UnknownFormatConversionException
              UnknownFormatFlagsException
              Vector
              WeakHashMap}

 :clojure.lang #{AFn
                 AFunction
                 AMapEntry
                 APersistentMap
                 APersistentSet
                 APersistentVector
                 ARef
                 AReference
                 ASeq
                 ATransientMap
                 ATransientSet
                 Agent
                 ArityException
                 ArrayChunk
                 ArrayIter
                 ArraySeq
                 Atom
                 BigInt
                 Binding
                 Box
                 ChunkBuffer
                 ChunkedCons
                 Compile
                 Compiler
                 Cons
                 Cycle
                 Delay
                 DynamicClassLoader
                 EdnReader
                 EnumerationSeq
                 ExceptionInfo
                 FnLoaderThunk
                 Intrinsics
                 Iterate
                 IteratorSeq
                 Keyword
                 KeywordLookupSite
                 LazilyPersistentVector
                 LazySeq
                 LineNumberingPushbackReader
                 LispReader
                 LockingTransaction
                 LongRange
                 MapEntry
                 MethodImplCache
                 MultiFn
                 Murmur3
                 Namespace
                 Numbers
                 Obj
                 PersistentArrayMap
                 PersistentHashMap
                 PersistentHashSet
                 PersistentList
                 PersistentQueue
                 PersistentStructMap
                 PersistentTreeMap
                 PersistentTreeSet
                 PersistentVector
                 ProxyHandler
                 RT
                 Range
                 Ratio
                 ReaderConditional
                 RecordIterator
                 Reduced
                 Ref
                 Reflector
                 Repeat
                 Repl
                 RestFn
                 Script
                 SeqEnumeration
                 SeqIterator
                 StringSeq
                 Symbol
                 TaggedLiteral
                 TransactionalHashMap
                 TransformerIterator
                 Tuple
                 Util
                 Var
                 Volatile
                 XMLHandler}}
