{:log {:min-level :debug
       :appenders {:spit #spit-appender {:fname "./elin-debug.log"}}}
 :interceptor {:includes [elin.interceptor.debug/interceptor-context-checking
                          elin.interceptor.debug/nrepl-debug]}
 :handler {:config-map {elin.handler.lookup/lookup {:interceptor {:includes [elin.interceptor.optional.nrepl/malli-lookup]}}}}
 :env {:cwd "."}}
